.hide-scrollbar::-webkit-scrollbar{
    appearance: none;
    display: none;
  }

  .ReactCollapse--collapse {
    transition: height 500ms;
  }
  .list_check_image{
    list-style: url("./assets/images/check.png");
    
  }