.hide-scrollbar::-webkit-scrollbar{
    appearance: none;
    display: none;
  }
  :root {
    --bg-clr: #f7f7f7;
    --post-clr: white;
    --txt-clr: black;
    --theme-clr: rgb(235, 236, 2);
    --light-grey: #959595;
    --grey: #282828;
    --white: rgb(240, 240, 240);
    --green: rgb(95 186 167);
    /* --bg-clr: #0c4c7d;
      --post-clr: #093a60;
      --txt-clr: #ffffe6;
      --theme-clr: rgb(7 43 71); */
  }

  .ReactCollapse--collapse {
    transition: height 500ms;
  }
  .list_check_image{
    list-style: url("./assets/images/check.png");
    
  }
  .react-calendar__tile--now{
    border:2px solid #ff612c !important;
    background-color: white !important;
    color: black !;
    border-radius: .4rem;
  }
  .react-calendar__tile--active{
    background-color: #ff612c !important;
    color: white;
    border-radius: .4rem;
  }
  .react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none !important;
    color: #ff612c !important;
    font-weight: 300;
  }
  .react-calendar__tile:not(.react-calendar__tile--active):hover{
    background-color: rgba(0,0,0,0.05) !important;
    border-radius: .4rem;
  }
  .react-calendar__navigation__prev2-button,  .react-calendar__navigation__next2-button{
    display: none;
  }
  .react-calendar__navigation{
    margin-bottom: 0 !important;
    margin-top: .5rem;
  }
  .react-calendar__navigation__arrow,.react-calendar__navigation__label{
    border-radius: .5rem;
    font-size: 14px;
  }
  .react-calendar__navigation__arrow:hover , .react-calendar__navigation__label:hover{
    background-color: #ff612c !important;
    color: white;
  }

  
.checkBox-con {
  display: block;
  border: 2px solid red;
  position: relative;
}

.checkBox-con input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* border:1px solid red; */
}

.checkBox {
  border-radius: 8px;
  background-color: var(--theme-clr);
  position: relative;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 23px;
  right: 13px;
  height: 19px;
  width: 19px;
  background-color: #eee;
  /* border: 1px solid red; */
  border-radius: 13px;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
   */
/* When the checkbox is checked, add a blue background */
.checkBox-con input:checked ~ .checkmark {
  background-color: var(--theme-clr);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox-con input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox-con .checkmark:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  transform: rotate(45deg);
}

.range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ff612c;
  cursor: pointer;
}






/* Custome Price Range Slider Css code  */

.range-slider__range,.range-slider__thumb{
  /* CSS for range */
  background-color: #ff612c !important;
}
.range-slider__thumb{
  width: 15px !important;
  height: 15px !important;
}
.bg_tab_switcher{
  width: 70px !important;
  transition: all .3s ease;
}
.bg_tab_switcher_parent{
  left: 5px !important;
  transition: all .3s ease;
}
.tour_quantity_selection .tab_item.active:nth-child(1) ~ div .bg_tab_switcher{
  width: 70px !important;
}
.tour_quantity_selection .tab_item.active:nth-child(1) ~ .bg_tab_switcher_parent{
  left: 5px !important;
}
.tour_quantity_selection .tab_item.active:nth-child(2) ~ div .bg_tab_switcher{
  width: 55px !important;
}
.tour_quantity_selection .tab_item.active:nth-child(2) ~ .bg_tab_switcher_parent{
  left: 84px !important;
}