/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "geist-regular";
    src: url("./assets/fonts/Geist-Regular.otf");
  }
  @font-face {
    font-family: "geist-medium";
    src: url("./assets/fonts/Geist-Medium.otf");
  }
  @font-face {
    font-family: "geist-semibold";
    src: url("./assets/fonts/Geist-SemiBold.otf");
  }
  @font-face {
    font-family: "geist-bold";
    src: url("./assets/fonts/Geist-Bold.otf");
  }
  @font-face {
    font-family: "geist-black";
    src: url("./assets/fonts/Geist-Black.otf");
  }
  @font-face {
    font-family: "geist-variable";
    src: url("./assets/fonts/GeistVariableVF.ttf");
  }
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  *{
    font-family: San Francisco !important;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
    margin: 0;
    padding: 0;
  }
  h1{
    font-family: geist-variable !important;
  }
